body, html {
  background: rgb(243, 243, 243);
  font-family:"Roboto";
  width:100%;
  padding:0;
  margin:0;
}

nav {
  background:white;
  width:100%;
  margin:0;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
}
nav ul {
  margin:0;
  display:flex;
  justify-content: flex-end;
  padding:0 50px;
}

nav h3 {
  margin:auto;
  margin-left:80px;
}

nav ul li {
  margin:auto;
  padding:15px 30px;
  display:inline-block;
}

.add-vehicle {
  color:rgb(172, 172, 172);
  border:1px solid rgb(172, 172, 172);
  padding:30px 10px;
  border-radius: 5px;
  margin-left:20px;
  transition-duration: 0.1s;
}

.add-vehicle:hover {
  cursor: pointer;
  color:white;
  background:rgb(31, 60, 96);
}

.vehicle-card-wrapper {
  border:1px solid rgb(154, 154, 154);
  margin:10px;
  border-radius: 5px;
  background:rgb(255, 255, 255);
}

.vehicle-card-container {
  display:flex;
  padding:100px;
  align-items: center;
}
.vehicle-card {
  margin:50px;
  margin-bottom:20px;
  padding:10px;
}

.vehicle-card h6 {
  margin: 0;
}

.vehicle-card h1 {
  margin:0;
}

.vehicle-card h5 {
  color:rgb(48, 106, 200);
  margin-top:5px;
}

.vehicle-card p {
  font-size: 0.7em;
  margin:1px;
}

.vehicle-card-wrapper .button-row ul {
  display: flex;
  justify-content:space-evenly;
  padding:0;
}

.vehicle-card-wrapper .button-row ul li {
  display:inline-block;
  text-align: center;
  line-height: 10px;
  margin:5px;
  transition-duration: 0.1s;
  padding:10px;
  border-radius: 50px;
}

.vehicle-card-wrapper .button-row ul li:hover {
  color:rgb(0, 98, 255);
  background:rgb(231, 231, 231);
  cursor:pointer;
}